body{
  margin: 0;
}

.container{
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  font-size: 16px;
}

.logo{
  width: 80px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  padding: 0 20px ;
}

.nav{
  font-size: 20px;
  font-weight: 400;
}

.nav a:hover {
  font-weight: 700;
}

.active{
  font-weight: 700;
}

a{
  text-decoration: none;
  color: black;
  margin-right: 1rem;
}